<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-5 pb-2">
    <div class="col-auto linkedIn">
      <img
        class="icon"
        src="../../../assets/images/linkedin.png"
        alt="linkedin"
      />
    </div>
    <div class="col-auto github">
      <img class="icon" src="../../../assets/images/github.png" alt="github" />
    </div>
    <div class="col-auto twitter">
      <img
        class="icon"
        src="../../../assets/images/twitter.png"
        alt="twitter"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-center pb-5">
    <div class="col-auto">2023 Brian Bassett</div>
  </div>
</div>
