@use "../../../styles.scss" as *;

.nav-link {
  color: $neonGreen;
  margin: 0 8px;
  border-bottom: 2px solid transparent;

  &:hover {
    border-color: $neonGreen;
  }
}

.work {
  width: 1.5em;
}
