<div class="container-fluid bg-black">
  <div class="container-xl text-center">
    <div class="row justify-content-center">
      <div class="col header">
        <h1 id="header" class="header fw-light pt-3 pb-4 m-0">BRIAN BASSETT</h1>
        <h3 class="fw-bold fs-6">DEVELOPER, LEARNER, VOLLEYBALLER</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row py-5">
      <div id="heroBox" class="col d-flex justify-content-center">
        <img
          class="heroImage"
          src="../../../assets//images/brian.JPG"
          alt="me"
        />
      </div>
    </div>
  </div>
  <div class="container-xl">
    <div class="row pb-4 d-flex justify-content-center">
      <div class="col-10 col-sm-6 text-center">
        Software Engineer at <span class="fidelity">Fidelity Investments</span>|
        Outside Hitter on Kate's Team | Friend of Dogs
      </div>
    </div>
    <div class="row pb-5 d-flex justify-content-center">
      <div class="col-10 col-sm-6 text-center">
        Thanks for checking me out! Why don't you stay awhile?
      </div>
    </div>
  </div>
  <!-- <div class="row py-4 d-flex justify-content-center work">
    <div class="col-10 col-sm-6 text-center fs-2">
      "I'm sick of following my dreams, man. I'm just going to ask where they're
      going and hook up with 'em later."
    </div>
  </div> -->
  <!-- <div class="row pb-5 d-flex justify-content-center">
    <div class="col-10 col-sm-6 text-center">-MITCH HEDBERG-</div>
  </div> -->
  <div class="container-fluid sectionHeading">
    <div class="container-xl pb-4">
      <div class="row">
        <div id="work" class="col fs-1 py-3">WORK</div>
      </div>
      <div class="row d-flex justify-content-center pt-4">
        <div class="col-auto pb-4 d-flex justify-content-center">
          <a
            href="https://github.com/BBaCode/moneybee"
            class="text-decoration-none"
          >
            <div class="card bg-dark" style="width: 15rem">
              <img
                src="../../../assets/images/moneybee1.png"
                class="card-img-top"
                alt="project"
              />
              <div class="card-body">
                <h5 class="card-title projectTitle">MoneyBee</h5>
                <p class="card-text text-light">
                  A mobile app focused on gamifying financial literacy
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto pb-4 d-flex justify-content-center">
          <a
            href="https://github.com/BBaCode/brian-bassett-bandsite"
            class="text-decoration-none"
          >
            <div class="card bg-dark" style="width: 15rem">
              <img
                src="../../../assets/images/bandsite.png"
                class="card-img-top"
                alt="project"
              />
              <div class="card-body">
                <h5 class="card-title projectTitle">Bandsite</h5>
                <p class="card-text text-light">
                  Fullstack app for a mock band with a bio and shows list
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto pb-4 d-flex justify-content-center">
          <a
            href="https://github.com/BBaCode/cryptosearch"
            class="text-decoration-none"
          >
            <div class="card bg-dark" style="width: 15rem">
              <img
                src="../../../assets/images/crypto.png"
                class="card-img-top"
                alt="project"
              />
              <div class="card-body">
                <h5 class="card-title projectTitle">CryptoSearch</h5>
                <p class="card-text text-light">
                  Uses the CoinPaprika API to get fact sheet on several
                  currencies
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-auto pb-4 d-flex justify-content-center">
          <a
            href="https://github.com/BBaCode/brian-bassett-brainflix"
            class="text-decoration-none"
          >
            <div class="card bg-dark" style="width: 15rem">
              <img
                src="../../../assets/images/brainflix2.png"
                class="card-img-top"
                alt="project"
              />
              <div class="card-body">
                <h5 class="card-title projectTitle">BrainFlix</h5>
                <p class="card-text text-light">
                  A redesigned video streaming site similar to Youtube
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid sectionHeading">
    <div class="container-xl">
      <div id="about" class="row">
        <div class="col fs-1 py-3 mt-3">ABOUT</div>
      </div>
      <div class="row d-flex justify-content-center pb-3">
        <div class="col-10 col-sm-8">
          I went to school in Boston for Finance because I thought I wanted to
          become a wealth advisor. Instead, I got a sales job because I wanted
          to move to New York, and that was the best gig I could get. Now I cast
          <span class="text-warning">Javascript</span> spells to
          <span class="text-primary">conjur</span> mythical looking web
          applications.
        </div>
      </div>
      <div class="row d-flex justify-content-center pb-3">
        <div class="col-10 col-sm-8">
          As you can tell I have jumped around quite a bit but now I know that I
          am in the right place! I have always loved technology and been
          inspired by the <span class="text-danger">idea of creation</span>.
          Finance and sales were great and all but where was the end result?
          Where was the tangible <span class="text-success">THING</span> to show
          off or use at the end?
        </div>
      </div>
      <div class="row d-flex justify-content-center pb-5">
        <div class="col-10 col-sm-8">
          Well after a nearly 8 month transition I managed to land my first
          engineering job and I am learning everyday! I am lucky to work
          alongside
          <span class="text-info">talented, kind, and creative</span>
          individuals who are in turn making me a better developer and hopefully
          that starts to show itself here.
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid sectionHeading">
    <div class="container-xl">
      <div class="row">
        <div id="books" class="col fs-1 py-3 mt-3">My Favorite Books</div>
      </div>
      <div class="row row-cols-1 d-md-none d-flex justify-content-center">
        <div class="col pb-3">
          These are some of my favorite Science Fiction and Fantasy
          books/series. I encourage you to try one!
        </div>
        <div class="col-auto">
          <ul class="pb-4">
            <li>Ender's Game by Orson Scott Card</li>
            <li>Foundations by Isaac Asimov</li>
            <li>Game of Thrones by George R.R. Martin</li>
            <li>HitchHikers Guide to the Galaxy by Douglas Adams</li>
            <li>Lord of The Rings by J.R.R. Tolkien</li>
            <li>Three Body Problem by Cixin Liu</li>
            <li>Night Angel or LightBringer Series by Brent Weeks</li>
            <li>Harry Potter by JK Rowling (Everyone has to at some point)</li>
          </ul>
        </div>
      </div>
      <div class="row book-parent d-none d-md-grid">
        <div id="bookgroup" class="book-group">
          <div
            (click)="updateHighlightedBook(1)"
            [class.highlight]="selectedBook == 1"
            [class.selected]="selectedBook == 1"
            [ngClass]="selectedBook == 1 ? 'book1Active' : 'book1Hover'"
            *ngIf="selectedBook == 0 || selectedBook == 1"
            class="book book1"
          ></div>
          <div
            (click)="updateHighlightedBook(2)"
            [class.highlight]="highlightedBook == 2"
            [class.selected]="selectedBook == 2"
            [ngClass]="selectedBook == 2 ? 'book2Active' : 'book2Hover'"
            *ngIf="selectedBook == 0 || selectedBook == 2"
            class="book book2"
          ></div>
          <div
            (click)="updateHighlightedBook(3)"
            [class.highlight]="highlightedBook == 3"
            [class.selected]="selectedBook == 3"
            [ngClass]="selectedBook == 3 ? 'book3Active' : 'book3Hover'"
            *ngIf="selectedBook == 0 || selectedBook == 3"
            class="book book3"
          ></div>
          <div
            (click)="updateHighlightedBook(4)"
            [class.highlight]="highlightedBook == 4"
            [class.selected]="selectedBook == 4"
            [ngClass]="selectedBook == 4 ? 'book4Active' : 'book4Hover'"
            *ngIf="selectedBook == 0 || selectedBook == 4"
            class="book book4"
          ></div>
          <div
            (click)="updateHighlightedBook(5)"
            [class.highlight]="highlightedBook == 5"
            [class.selected]="selectedBook == 5"
            [ngClass]="selectedBook == 5 ? 'book5Active' : 'book5Hover'"
            *ngIf="selectedBook == 0 || selectedBook == 5"
            class="book book5"
          ></div>
        </div>
        <div class="row row-cols-1 text-center d-none d-md-block">
          <div [class.info]="selectedBook != 0" class="col doubleClick">
            Double-click on a book above to learn more
          </div>
          <div
            [class.bookInfo]="selectedBook != 0"
            class="col"
            [ngClass]="selectedBook == 0 ? 'hideText' : ''"
          >
            {{ bookInfo[selectedBook - 1] }}
          </div>
        </div>
      </div>
      <div class="row pb-5 d-flex justify-content-center d-none d-md-block">
        <div class="col-auto">
          <button (click)="resetBooks()" class="btn btn-primary">
            Reset Books
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid sectionHeading">
    <div class="container-xl">
      <div class="row">
        <div id="contact" class="col fs-1 py-3 mt-3">CONTACT</div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-6 text-center">
          Want to connect further? Feel free to shoot me an email at:
          <strong class="projectTitle">brianbsstt@gmail.com</strong>
        </div>
      </div>
      <div class="row d-flex justify-content-center py-4">
        <div class="col-10 col-sm-6 text-center">
          Or feel free to follow any of the links below
        </div>
      </div>
      <div class="row d-flex justify-content-center pb-5">
        <div class="col-10 col-sm-6 text-center">
          <button (click)="scrollToTop()" class="btn-primary px-2 py-1">
            Back to Top
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
