<div class="container-fluid text-center hCont">
  <div class="row justify-content-center">
    <div class="col header">
      <h1 class="header">
        Software developer, book lover, gamer and fitness ethusiast.
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 d-flex">
    <div class="col">
      <img style="width: 100%" src="../../../assets/images/me.png" alt="me" />
    </div>
    <div
      class="col d-flex flex-column align-items-left justify-content-center about"
    >
      <h3>ABOUT</h3>
      <p>
        Born and raised outside of Boston, now lighting up New York City. I love
        to bring applications, websites and even games to life. Currently
        working on mobile applications, financial literacy and investment apps,
        and generally taking a deeper dive into Computer Science!
      </p>
    </div>
  </div>
</div>
