@use "../../../styles.scss" as *;

.container-fluid {
  padding: 0 !important;
}

.header {
  max-width: 31.25rem;
  color: $neonGreen;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.card {
  border: 2px solid $neonGreen;
}

.card-img-top {
  height: 18.75rem;
}

.btn-primary {
  background-color: $neonGreen;
  border: black;
  color: black;

  &:hover {
    background-color: black;
    color: $neonGreen;
  }

  &:active {
    background-color: black;
    color: $neonGreen;
  }
}

.heroImage {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.work {
  border-top: 2px solid white;
}

.projectTitle {
  color: $neonGreen;
}

.github {
  max-width: 2rem;
}
